#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work.Organized,always.
		%button= link_to "Enter" ,new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Post-ironic letterpress narwhal scenester chillwave blue bottle single-origin coffee. Scenester chambray aesthetic kinfolk activated charcoal small batch keytar. Literally try-hard intelligentsia knausgaard mixtape neutra. Yr mlkshk hoodie, tilde church-key keffiyeh pickled marfa street art organic seitan lumbersexual hammock gochujang banjo. Kale chips cornhole brunch pabst offal retro. Pitchfork poutine letterpress air plant biodiesel tumeric stumptown four dollar toast etsy mumblecore 90's.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now" ,new_user_registration_path


